<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-nord.min.css">
</head>
<body>
  <header>
    <a href="/" class="logo">Slim Practice</a>
    <a href="/login" class="button">Login</a>
    <a href="/register" class="button">Register</a>
  </header>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>